.create-employee-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: #fafafa;
}

.title-card-container {
  width: 98%;
  margin-top: 2%;
}

.body-container {
  /* flex-shrink: 1; */
  height: 83%;
  width: 97%;
  margin-top: 2%;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 95%;
  height: 95%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.form-fields {
  display: flex;
  height: fit-content;
  width: 100%;
  flex-wrap: wrap;
  gap: 30px 2%;
}

.input-container,
.select-container--primary {
  width: 410px;
}

.address-fields {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.button--primary {
  font-size: 16px;
}
