.button--default {
  padding: 10px 20px;
  width: fit-content;
  background-color: #03aeee;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 18px;
}

.button--logout {
  padding: 20px;
  border-radius: 20px;
}



/* .button--default:hover {
  color: red;
} */

.button--createEmployee {
  width: 150px;
  height: 35px;
}

.button--login-clear {
  margin-left: 5px;
  padding: 14px;
  width: fit-content;
  background-color: #03aeee;
  color: white;
  border: none;
  /* border-radius: 20px; */
  font-size: 18px;
}
