.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-confirm-popup-container {
  background-color: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  width: 400px;
  text-align: center;
}

.popup-text {
  font-size: 18px;
  margin-bottom: 30px;
}

.popup-buttons-row {
  display: flex;
  justify-content: center;
  gap: 20px;
}
