.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: #fafafa;
}

.title-card-container {
  width: 98%;
  margin-top: 2%;
}

.dashboard-body-container {
    /* flex-shrink: 1; */
    height: 83%;
    width: 97%;
    margin-top: 2%;
    background-color: #fafafa;
}
.employee-list-table-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;

}

.employee-list-table {
  display: grid;
  width: 100%;
  height: 100%;
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
}