form {
  display: flex;
  flex-direction: column;
}

input {
  font-size: 18px;
  padding: 12px;
  margin-bottom: 5px;
}

.form-content {
    width: 300px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    /* align-items: center; */
}

.button--createEmployee {
  border: none;
  color: white;
  margin-top: 20px;
  /* justify-self: center; */
}

.button-container {
  display: flex;
  justify-content: center;
}

.error-message {
  margin-top: 15px;
  color: red;
}