.table-row {
  justify-content: space-between;
  background-color: white;
  padding: 25px;
  border-radius: 20px;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.table-row:hover {
  background-color: rgb(243, 243, 243);
  transform: scale(101%);
}


.table-row > * {
  width: 13%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}


.status-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: red; */
    width: 100px;
    padding: 5px 10px;
    border-radius: 50px 50px;
}

.status-container--PROBATION {
background-color: #F5ECB8;
}

.status-container--ACTIVE {
background-color: #D3F4BE;
}

.status-container--INACTIVE {
background-color: #FFBFBF;
}

.row-actions {
  display: flex;
  align-items: center;
  gap: 10%;
}

.row-actions > *:hover {
  transform: scale(120%);
  transition: transform 0.1s ease;
}
