.header {
    height: 80px;
    position:sticky;
}

.header-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-between;
}

.kv-logo-container {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E2E8FA;
}

.kv-logo-image{
    width: 250px;
    height: 50px;
}

.profile-button-container {
    align-self: center;
    margin-right: 20px;
    width: 50px;
    height: 50px;
}  