* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body {
    height: 100%;
}

header {
    height: auto;
}

.kv-logo {
    width: 300px;
    padding: 20px;
}

.buttons-row {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.address-fields {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.address-fields div {
    margin: 0px;
    height: fit-content;
}